<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880966802994-ba8ots3e9143eplgveflnnkr8ml03far.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880966802994-ba8ots3e9143eplgveflnnkr8ml03far</string>
	<key>API_KEY</key>
	<string>AIzaSyAxtV3jRrxr-8hpJA0zleWB0ph-FZaG540</string>
	<key>GCM_SENDER_ID</key>
	<string>880966802994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab009</string>
	<key>PROJECT_ID</key>
	<string>lab09-847dc</string>
	<key>STORAGE_BUCKET</key>
	<string>lab09-847dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880966802994:ios:32a3fec45a5781c990a62b</string>
</dict>
</plist>